.container {
  min-width: 280px;
  margin-top: 12px;
  border: 1px solid rgb(16 24 40 / 10%);
  padding: 12px;
  border-radius: 12px;
  transition: box-shadow 0.3s;
}

.paragraph {
  font-size: 14px;
  color: #101828;
  margin: 0 0 4px 0;
  padding: 0;
}

.date {
  font-size: 12px;
  color: #101828;
  opacity: 0.6;
  margin: 0 0 4px 0;
  padding: 0;
}

.user {
  font-size: 12px;
  color: blue;
  margin: 0 0 4px 0;
  padding: 0;
  font-weight: 600;
}

.messagewrapper {
  display: flex;
  justify-content: space-between;
}
